#ignore some basic stuff
__pycache__/

#ignore .xml and .reg files from testing/working in repo directory
*.xml
*.reg

#ignore some pyInstaller stuff
dist
build
*.spec
*.hypothesis

#ignore possible mac files
*.DS_Store